Django
djangorestframework
gunicorn
whitenoise
Pillow
drf-yasg
django-cors-headers
python-dotenv
drf-spectacular
django-filter
requests
django-multiselectfield
whitenoise
dj-database-url
psycopg2-binary